* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  /*font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;*/
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
main {
  position: relative;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Bold.eot");
  src: local("SF Pro Text Bold"), local("SFProText-Bold"),
    url("../fonts/SFProText-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Bold.woff2") format("woff2"),
    url("../fonts/SFProText-Bold.woff") format("woff"),
    url("../fonts/SFProText-Bold.ttf") format("truetype"),
    url("../fonts/SFProText-Bold.svg#SFProText-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Heavy.eot");
  src: local("SF Pro Text Heavy"), local("SFProText-Heavy"),
    url("../fonts/SFProText-Heavy.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Heavy.woff2") format("woff2"),
    url("../fonts/SFProText-Heavy.woff") format("woff"),
    url("../fonts/SFProText-Heavy.ttf") format("truetype"),
    url("../fonts/SFProText-Heavy.svg#SFProText-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Light.eot");
  src: local("SF Pro Text Light"), local("SFProText-Light"),
    url("../fonts/SFProText-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Light.woff2") format("woff2"),
    url("../fonts/SFProText-Light.woff") format("woff"),
    url("../fonts/SFProText-Light.ttf") format("truetype"),
    url("../fonts/SFProText-Light.svg#SFProText-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Medium.eot");
  src: local("SF Pro Text Medium"), local("SFProText-Medium"),
    url("../fonts/SFProText-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Medium.woff2") format("woff2"),
    url("../fonts/SFProText-Medium.woff") format("woff"),
    url("../fonts/SFProText-Medium.ttf") format("truetype"),
    url("../fonts/SFProText-Medium.svg#SFProText-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Regular.eot");
  src: local("SF Pro Text Regular"), local("SFProText-Regular"),
    url("../fonts/SFProText-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Regular.woff2") format("woff2"),
    url("../fonts/SFProText-Regular.woff") format("woff"),
    url("../fonts/SFProText-Regular.ttf") format("truetype"),
    url("../fonts/SFProText-Regular.svg#SFProText-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro";
  src: url("../fonts/SFProText-Semibold.eot");
  src: local("SF Pro Text Semibold"), local("SFProText-Semibold"),
    url("../fonts/SFProText-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SFProText-Semibold.woff2") format("woff2"),
    url("../fonts/SFProText-Semibold.woff") format("woff"),
    url("../fonts/SFProText-Semibold.ttf") format("truetype"),
    url("../fonts/SFProText-Semibold.svg#SFProText-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neuzeit Grotesk";
  src: url("../fonts/NeuzeitGro-Lig.eot");
  src: local("Neuzeit Grotesk Light"), local("NeuzeitGro-Lig"),
    url("../fonts/NeuzeitGro-Lig.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NeuzeitGro-Lig.woff2") format("woff2"),
    url("../fonts/NeuzeitGro-Lig.woff") format("woff"),
    url("../fonts/NeuzeitGro-Lig.ttf") format("truetype"),
    url("../fonts/NeuzeitGro-Lig.svg#NeuzeitGro-Lig") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('../fonts/NeuzeitGro-Bol.eot');
    src: local('Neuzeit Grotesk Bold'), local('NeuzeitGro-Bol'),
        url('../fonts/NeuzeitGro-Bol.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeuzeitGro-Bol.woff2') format('woff2'),
        url('../fonts/NeuzeitGro-Bol.woff') format('woff'),
        url('../fonts/NeuzeitGro-Bol.ttf') format('truetype'),
        url('../fonts/NeuzeitGro-Bol.svg#NeuzeitGro-Bol') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}*/

/*@font-face {
    font-family: 'Neuzeit Grotesk';
    src: url('../fonts/NeuzeitGro-Reg.eot');
    src: local('Neuzeit Grotesk Regular'), local('NeuzeitGro-Reg'),
        url('../fonts/NeuzeitGro-Reg.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeuzeitGro-Reg.woff2') format('woff2'),
        url('../fonts/NeuzeitGro-Reg.woff') format('woff'),
        url('../fonts/NeuzeitGro-Reg.ttf') format('truetype'),
        url('../fonts/NeuzeitGro-Reg.svg#NeuzeitGro-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}*/

/* new fonts added here */

@font-face {
  font-family: "NeuzeitGroBlaW03";
  src: url("../fonts/NeuzeitGroBlaW03-Regular.eot");
  src: local("NeuzeitGroBla W03 Regular"), local("NeuzeitGroBlaW03-Regular"),
    url("../fonts/NeuzeitGroBlaW03-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NeuzeitGroBlaW03-Regular.woff2") format("woff2"),
    url("../fonts/NeuzeitGroBlaW03-Regular.woff") format("woff"),
    url("../fonts/NeuzeitGroBlaW03-Regular.ttf") format("truetype"),
    url("../fonts/NeuzeitGroBlaW03-Regular.svg#NeuzeitGroBlaW03-Regular")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neuzeit Grotesk";
  src: url("../fonts/NeuzeitGroteskW03-Regular.eot");
  src: local("Neuzeit Grotesk W03 Regular"), local("NeuzeitGroteskW03-Regular"),
    url("../fonts/NeuzeitGroteskW03-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NeuzeitGroteskW03-Regular.woff2") format("woff2"),
    url("../fonts/NeuzeitGroteskW03-Regular.woff") format("woff"),
    url("../fonts/NeuzeitGroteskW03-Regular.ttf") format("truetype"),
    url("../fonts/NeuzeitGroteskW03-Regular.svg#NeuzeitGroteskW03-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neuzeit Grotesk";
  src: url("../fonts/NeuzeitGroW03-Bold.eot");
  src: url("NeuzeitGroW03-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/NeuzeitGroW03-Bold.woff2") format("woff2"),
    url("../fonts/NeuzeitGroW03-Bold.woff") format("woff"),
    url("../fonts/NeuzeitGroW03-Bold.ttf") format("truetype"),
    url("../fonts/NeuzeitGroW03-Bold.svg#NeuzeitGroW03-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.has_error {
  border: 1px solid rgb(255, 0, 72) !important;
  background-color: rgb(255, 242, 246) !important;
}

/** Hero Section Styles Here **/
.hero-sec {
  background: #4653e6;
}
.hero-modal .modal-img {
  width: 100%;
  max-width: 450px;
}
.hero-logo {
  margin-top: 4rem;
}
@media (max-width: 1024px) {
  .hero-logo {
    margin-top: 2rem;
  }
}
.activate-form {
  position: relative;
}
.activate-form:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 18px;
  background: #fff;
  top: -17px;
  left: 0;
  border: transparent;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}
.activate-form .activate_hd {
  color: #38409e;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  line-height: normal;
  font-size: 2rem;
  margin-top: 1rem;
}
.activate-form .welcome_txt {
  color: #7d7d7d;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin: 0.5rem 0;
}
.activate-form .steps .number {
  color: #962dff;
  line-height: 3rem;
  font-size: 1.5rem;
  font-family: "SF Pro";
  font-weight: 900;
  width: 48px;
  height: 48px;
  border: transparent;
  border-radius: 50%;
  background: rgba(150, 45, 255, 0.2);
  text-align: center;
}
.activate-form .steps .step_txt {
  color: #212121;
  font-family: "SF Pro";
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.activate-form .steps1 {
  margin-top: 1.25rem;
}
.activate-form .steps2 {
  margin-top: 1.75rem;
}
.activate-form .form_hd {
  color: #000;
  font-size: 1.25rem;
  line-height: normal;
  font-family: "SF Pro";
  font-weight: bold;
  margin-top: 2.5rem;
}
.activate-form .form_subhd {
  color: #7d7d7d;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-top: 0.5rem;
}
.activate-form form input {
  border: 1px solid #eaeaea;
  color: #6c777c;
  font-family: "SF Pro";
  font-size: 1rem;
  margin: 0.5rem 0 0.625rem;
}
.activate-form form input::placeholder {
  color: #6c777c;
}
.activate-form form input:-ms-input-placeholder {
  color: #6c777c;
}
.activate-form form input::-ms-input-placeholder {
  color: #6c777c;
}
.jroiRr,
.activate-form form input.jroiRr {
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem + 2px);
}
.activate-form form .activate_btn {
  width: auto;
  height: auto;
  color: #fff;
  background: #004feb;
  border: transparent;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding: 0.75rem 6rem;
  margin-bottom: 0.75rem;
}
.activate-form .terms_txt {
  color: #36343d;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "SF Pro";
  margin-bottom: 2rem;
}
.activate-form .terms_txt a {
  font-weight: bold;
  color: #36343d;
  text-decoration: underline;
}

/** Verification Page Styles Here **/
.verify-form .form-control {
  height: 9rem;
  margin: 0 1rem;
  width: 6rem;
  font-size: 2rem;
  color: #47505a;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.verify-form .form-control:focus {
  border: 3px solid #38409e;
  outline: none !important;
  box-shadow: none !important;
}
.verify-form .form-control::placeholder {
  color: #47505a;
  opacity: 1;
}
.verify-form .form-control:-ms-input-placeholder {
  color: #47505a;
}
.verify-form .form-control::-ms-input-placeholder {
  color: #47505a;
}
.verify-form h1 {
  font-family: "Neuzeit Grotesk", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.375rem;
  /*color: #38409E;*/
  color: #2d3241;
}
.verify-form p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #36343d;
}
.link-color {
  color: #38409e;
}
.link-color2 {
  color: #4653e6;
}
.verify-form .resend {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.resend.link-color2 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.25rem;
  margin-bottom: 5rem;
}
.verify-form .bottom-fixed-btns {
  z-index: 100;
  /*position: fixed;*/
  left: 0;
  bottom: 0px;
  width: 100%;
  background: #fff;
  padding: 1rem 0 2rem 0;
}
.fixed-btn-wrap button {
  background: #fff;
  /*font-family: 'SF Pro', sans-serif;*/
  font-style: normal;
  /*font-weight: 700;*/
  font-size: 1rem;
  line-height: 1.063rem;
  text-align: center !important;
  letter-spacing: 0.8px;
  padding: 0.688rem 1.875rem !important;
  border: none !important;
  color: #004feb;
  /*border-radius: 0.4rem;*/
  width: auto;
  border: 1px solid #e6ebf0 !important;
  border-radius: 5px;
  font-family: "Neuzeit Grotesk", sans-serif;
  font-weight: bold;
}
.fixed-btn-wrap button:hover,
.fixed-btn-wrap button:focus {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.fixed-btn-wrap button:active {
  background: #e6ebf0;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.fixed-btn-wrap button.active {
  background: #004feb;
  color: #fff;
  border: transparent !important;
}
.fixed-btn-wrap button.active:hover,
.fixed-btn-wrap button.active:focus {
  background: #0056ff;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.fixed-btn-wrap button.active:active {
  background: #0045cc;
}
.verify-form .fixed-btn-wrap {
  width: 100%;
}
/*.verification_content .dark-logo {
    width: 17%;
    max-width: 200px;
}*/
.verification_content .header-sec {
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
}

/** Confirmation Page Styles Here **/
.confirmation_content .top-con {
  background-color: #38409e;
  padding-bottom: 7rem;
}
.confirmation_content .white-logo {
  width: 17%;
  max-width: 200px;
}
.top-con h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.375rem;
  color: #fff;
}
.top-con p {
  font-family: "SF Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
  color: #f5f5f5;
}
.top-con h3 a {
  font-family: "SF Pro", sans-serif;
  color: #fff;
  line-height: 1.25rem;
  font-weight: 500;
  font-size: 2rem;
}
.activate-ot a {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1.3rem;
  background: #4653e6;
  border-radius: 0.313rem;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
  -webkit-box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
  padding: 1.5rem 2.5rem;
  width: 45%;
}
.activate-ot {
  margin-top: 5rem;
}
.bottom-con {
  background: #fff;
  padding: 6rem 0;
}
.bottom-head h2 {
  font-family: "SF Pro", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.375rem;
  color: #4a4a4a;
}
.bottom-head p {
  font-family: "SF Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.25rem;
  color: #4a4a4a;
}
.bottom-foot {
  border: 3px solid #f2f2f2;
  border-radius: 0.8rem;
}
.bottom-foot .cosmo-icon {
  max-width: 100px;
}
.bottom-foot h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.875rem;
  color: #36343d;
}
.bottom-foot p {
  font-family: "Roboto", sans-serif;
  color: #6e6e6f;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
}
.download-btns a {
  display: inline-block;
}
.download-btns a:nth-child(1) {
  margin-right: 2rem;
}
.download-btns a button {
  border: none;
  background: transparent;
}
.download-btns a button {
  border: none;
  background: transparent;
  width: 140px;
}

/** Activating Page Styles Here **/
.activating_content .activate-main {
  background: #004feb;
  height: 100vh;
}
.signal-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}
.spopup-box {
  margin: 0 auto;
  width: 95%;
  background-color: #fff;
  max-width: 500px;
  border-radius: 1.5rem;
  box-shadow: 0px 24px 38px rgb(0 0 0 / 14%), 0px 9px 46px rgb(0 0 0 / 12%),
    0px 11px 15px rgb(0 0 0 / 20%), 0px 8px 10px rgb(0 0 0 / 14%);
  -webkit-box-shadow: 0px 24px 38px rgb(0 0 0 / 14%),
    0px 9px 46px rgb(0 0 0 / 12%), 0px 11px 15px rgb(0 0 0 / 20%),
    0px 8px 10px rgb(0 0 0 / 14%);
  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.spopup-box {
  padding: 2rem 0;
}
.spopup-box .signal-icon {
  max-width: 160px;
  margin-bottom: 1rem;
}
.spopup-box h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #4a4a4a;
  font-weight: 700;
  line-height: 1.25rem;
}
.spopup-box p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #979797;
  margin-top: 0.8rem;
}
.activate-main .white-logo {
  width: 14%;
  max-width: 200px;
}

/** Scan QR Page Styles Here **/
.scanner_content {
  overflow: hidden;
}
.scanner-main {
  /*background-image: url(../images/watchqr.png);*/
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  /*background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;*/
  background: #000;
  width: 100%;
  max-width: 600px;
  /*padding-top: 7rem;*/
  color: #fff;
  margin: 0 auto;
  position: relative;
}
.scanner-main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.5);
}
.scan-in {
  z-index: 999 !important;
  position: relative;
}
.inner-scan {
  width: 10.25rem;
  height: 10.25rem;
  border: 2px solid #fff;
  outline: 2px solid #979797;
  outline-offset: 0.5rem;
}
.scanner-box {
  margin: 2rem 0;
}
#qr-reader {
  width: 80%;
  position: relative;
  padding: 0px;
  border: 1px solid #eee;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
}
.manual-btn {
  background: transparent;
  border: none;
  color: #fafafa;
  font-size: 0.875rem;
  line-height: 1.063rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
}
.scan-fxdbtn button {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.063rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
}
.scan-fxdbtn {
  position: fixed;
  bottom: 1rem;
}
.scanner_content .manual_imei_box,
.manual_imei_box {
  width: 100%;
  background: #fff;
  z-index: 9999;
  border: transparent;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  bottom: -100%;
  left: 0;
  padding: 1.5rem 0;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.scanner_content .manual_imei_box p,
.manual_imei_box p {
  color: #36343d;
  font-family: "SF Pro";
  font-weight: bold;
  font-size: 1.125rem;
}
.scanner_content .manual_imei_box input,
.manual_imei_box input {
  margin: 2rem 0;
  border: 1px solid #4653e6;
  color: #000;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
}
.scanner_content .manual_imei_box input::-webkit-input-placeholder,
.manual_imei_box input::-webkit-input-placeholder {
  color: #6e6e6f;
}
.scanner_content .manual_imei_box input:-ms-input-placeholder,
.manual_imei_box input:-ms-input-placeholder {
  color: #6e6e6f;
}
.scanner_content .manual_imei_box input::placeholder,
.manual_imei_box input::placeholder {
  color: #6e6e6f;
}
.scanner_content .manual_imei_box .cancel_btn,
.manual_imei_box .cancel_btn {
  color: #36343d;
  font-family: "SF Pro";
  font-weight: bold;
  font-size: 0.875rem;
  background: #fff;
  border: none;
}
.scanner_content .manual_imei_box .connect_btn,
.manual_imei_box .connect_btn {
  background: #4553e6;
  border: transparent;
  border-radius: 5px;
  color: #fff;
  font-family: "SF Pro";
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.75rem 2rem;
}

/** Responsive Styles Here **/
@media screen and (min-width: 480px) {
  .scanner-main {
    max-width: 375px;
    background-size: cover;
  }
  #qr-reader {
    min-height: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .activate-form .steps {
    margin-left: 3.5rem;
  }
  .activate-form .steps .step_txt {
    width: 80%;
  }
  .activate-form .terms_txt {
    max-width: 310px;
    width: 100%;
  }
  #qr-reader {
    width: 70%;
  }
}

@media screen and (min-width: 1231px) {
  .spopup-box {
    padding: 2rem 0;
    /*margin: 9% auto;*/
  }
}

@media screen and (min-width: 1200px) {
  .resend.link-color2 {
    margin-bottom: 6rem;
  }
  .activate-form form input {
    width: 60%;
  }
  .verification_content .verification_content_wrap {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
  .verify-form .bottom-fixed-btns {
    max-width: 900px;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: space-between !important;
  }
  .verify-form .fixed-btn-wrap {
    width: 100%;
  }
  .fixed-btn-wrap button {
    width: auto;
    /*padding-left: 30px;
        padding-right: 30px;*/
  }
  .fixed-btn-wrap button:nth-child(1) {
    padding-left: 30px !important;
  }
  .fixed-btn-wrap button:nth-child(1) i {
    margin-right: 0.5rem;
  }
  .fixed-btn-wrap button:nth-child(2) i {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 1600px) {
  .verify-form .fixed-btn-wrap {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1900px) {
}

@media (max-width: 1230px) {
  .spopup-box {
    /*padding: 6rem 0;*/
  }
}

@media (max-width: 1199px) {
  .spopup-box {
    /*margin: 10% auto;*/
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
  /*.verification_content .dark-logo {
        width: 24%;
    }*/
  .verify-form p {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .verify-form .form-control {
    height: 9rem;
    width: 5.5rem;
  }
  .resend.link-color2 {
    font-size: 1.3rem;
    margin-bottom: 12rem;
  }
  .verify-form .fixed-btn-wrap {
    width: 100%;
  }
  .fixed-btn-wrap button {
    font-size: 1.4rem;
    /*padding: 1.8rem 3rem;*/
  }
  .activate-ot a {
    width: 54%;
    font-size: 1.5rem;
  }
  .confirmation_content .white-logo {
    width: 24%;
  }
  .top-con p {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .confirmation_content .top-con {
    padding-bottom: 6rem;
  }
  .bottom-con {
    padding: 5rem 0;
  }
  .bottom-head p {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }
  .activate-main .white-logo {
    width: 24%;
  }
  .spopup-box {
    /*margin: 20% auto;*/
    max-width: 600px;
  }
  .spopup-box {
    /*padding: 10rem 0;*/
  }
}

@media (max-width: 920px) {
}

@media screen and (min-width: 318px) and (max-width: 920px) and (orientation: landscape) {
  .spopup-box {
    margin: 3% auto;
    padding: 1.9rem 0;
    margin-top: 10%;
  }
  .spopup-box .signal-icon {
    max-width: 160px;
    margin-bottom: 1rem;
  }
  .spopup-box h4 {
    font-size: 1.125rem;
  }
  .spopup-box p {
    font-size: 0.875rem;
    margin-top: 0.4rem;
  }
}

@media (max-width: 786px) {
}

@media (max-width: 768px) {
}

@media (max-width: 767px) {
  .container {
    max-width: 95%;
  }
  .activate-form .steps .step_txt {
    width: 78%;
  }
  .activate-form form .activate_btn {
    width: 100%;
  }
  .verify-form h1 {
    font-size: 2rem;
  }
  /*.verification_content .dark-logo {
        width: 19%;
    }*/
  .verify-form p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .verification_content {
    padding-bottom: 10rem;
  }
  .verify-form .form-control {
    height: 8rem;
    width: 5rem;
    font-size: 1.75rem;
  }
  .verify-form .form-control:nth-child(1) {
    margin-left: 0;
  }
  .resend.link-color2 {
    font-size: 1rem;
    /*padding-bottom: 0;*/
    margin-bottom: 6rem;
  }
  .fixed-btn-wrap button {
    font-size: 1rem;
    /*padding: 1.4rem 3rem;*/
  }
  .confirmation_content .white-logo {
    width: 19%;
  }
  .top-con h2,
  .bottom-head h2 {
    font-size: 2rem;
  }
  .top-con p,
  .bottom-head p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .top-con h3 a {
    font-size: 1.4rem;
  }
  .activate-ot a {
    width: 50%;
    font-size: 1.2rem;
  }
  .bottom-foot h4 {
    font-size: 1.5rem;
  }
  .bottom-foot p {
    font-size: 1.3rem;
  }
  .download-btns a button {
    width: 115px;
  }
  .activate-ot {
    margin-top: 4rem;
  }
  .confirmation_content .top-con {
    padding-bottom: 5rem;
  }
  .bottom-con {
    padding: 4rem 0;
  }
  .activate-main .white-logo {
    width: 19%;
  }
  .spopup-box h4 {
    font-size: 1.125rem;
  }
  .spopup-box p {
    font-size: 0.875rem;
    margin-top: 0.4rem;
  }
}

@media (max-width: 685px) {
  .verify-form .form-control {
    height: 7rem;
    width: 4rem;
    font-size: 1.6rem;
  }
  .activate-ot a {
    width: 50%;
    font-size: 1.1rem;
  }
}

@media (max-width: 625px) {
  .activate-ot a {
    width: 53%;
  }
}

@media (max-width: 590px) {
  .verify-form .form-control {
    height: 6rem;
    width: 3.3rem;
    font-size: 1.4rem;
  }
  /*.verification_content .dark-logo {
        width: 24%;
        margin-top: 2rem;
    }*/
  .activate-ot a {
    width: 70%;
    max-width: 290px;
  }
}

@media (max-width: 550px) {
  .confirmation_content .white-logo {
    width: 25%;
  }
  .activate-main .white-logo {
    width: 25%;
  }
}

@media (max-width: 520px) {
  .verify-form .form-control {
    height: 6rem;
    width: 3.1rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 480px) {
  .verify-form .form-control {
    height: 5rem;
    width: 3.5rem;
    font-size: 1.75rem;
    margin: 0 0.2rem;
    padding: 0.375rem 0.2rem;
  }
  .fixed-btn-wrap button {
    font-size: 0.875rem;
    /*padding: 1rem 2rem;*/
  }
  /*.verification_content .dark-logo {
        width: 40%;
        margin-top: 1.5rem;
    }*/
  .activate-main .white-logo {
    width: 30%;
  }
  .verify-form p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .resend.link-color2 {
    font-size: 0.875rem;
  }
  .confirmation_content .white-logo {
    width: 30%;
  }
  .top-con p,
  .bottom-head p {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .top-con h3 a {
    font-size: 1.25rem;
  }
  .activate-ot a {
    max-width: 274px;
    font-size: 1rem;
    padding: 1rem 2.5rem;
  }
  .activate-ot {
    margin-top: 2.7rem;
  }
  .confirmation_content .top-con {
    padding-bottom: 4rem;
  }
  .bottom-con {
    padding: 3rem 0;
  }
  .spopup-box {
    width: 80%;
    /*padding: 6rem 0;*/
    /*margin-top: 40%;*/
  }
}

@media screen and (min-width: 411px) and (max-width: 479px) {
  /*.scan-in {
        margin-top: 2rem;
    }*/
  .scanner-main {
    max-width: 400px;
  }
}

@media screen and (max-width: 479px) {
  #qr-reader {
    min-height: 230px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .activate-ot a {
    width: 74%;
  }
}

@media screen and (max-width: 410px) {
  /*.scan-in {
        margin-top: 3rem;
    }*/
}

@media (max-width: 400px) {
  .verify-form .form-control {
    width: 2.9rem;
  }
  .activate-ot a {
    width: 80%;
    max-width: 290px;
    font-size: 0.93rem;
  }
  .bottom-foot h4 {
    font-size: 1.4rem;
  }
  .bottom-foot p {
    font-size: 1.2rem;
    margin-top: 0 !important;
  }
  .download-btns a:nth-child(1) {
    margin-right: 1rem;
  }
  .confirmation_content .white-logo {
    width: 35%;
  }
  .activate-main .white-logo {
    width: 35%;
  }
}

@media screen and (max-width: 375px) {
  /*.scan-in {
        margin-top: 1rem;
    }*/
}

@media (max-width: 365px) {
}

@media screen and (max-width: 360px) {
  /*.scan-in {
        margin-top: 0;
    }*/
}

@media screen and (max-width: 359px) {
  .activate-form .activate_hd {
    font-size: 1.625rem;
  }
  .activate-form .steps .step_txt {
    width: 75%;
  }
  .activate-form .form_hd {
    font-size: 1rem;
  }
  .activate-form form .activate_btn {
    padding: 0.75rem 2rem;
  }
  #qr-reader {
    min-height: 170px;
    height: auto;
  }
  .resend.link-color2 {
    margin-bottom: 4rem;
  }
}

@media (max-width: 327px) {
  .verify-form .form-control {
    height: 4.5rem;
    width: 2.5rem;
    font-size: 1.3rem;
    padding: 0.375rem 0.1rem;
  }
  .verify-form p {
    font-size: 0.8rem;
  }
  .verify-form h1 {
    font-size: 1.8rem;
  }
  .confirmation_content .white-logo {
    width: 40%;
  }
  .top-con h2,
  .bottom-head h2 {
    font-size: 1.5rem;
  }
  .top-con p,
  .bottom-head p {
    font-size: 0.82rem;
    line-height: 1.25rem;
  }
  .activate-ot a {
    width: 100%;
  }
  .bottom-foot h4 {
    font-size: 1.2rem;
  }
  .bottom-foot p {
    font-size: 1rem;
    margin-top: 0 !important;
  }
  .download-btns a:nth-child(1) {
    margin-right: 1rem;
  }
  .download-btns a button {
    width: 96px;
  }
  .inner-scan {
    width: 8.25rem;
    height: 8.25rem;
  }
}

@media (max-width: 300px) {
  .activate-ot a {
    padding: 1rem 1.5rem;
  }
  .bottom-foot h4 {
    font-size: 1rem;
  }
  .bottom-foot p {
    font-size: 0.85rem;
    margin-top: 0 !important;
  }
  .download-btns a button {
    width: 80px;
  }
}

/** Error Page Styles Here **/
.error_content .error_main {
  background: #004feb;
  height: 100vh;
}
.error_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}
.error_popup_box {
  margin: 0 auto;
  width: 95%;
  background-color: #fff;
  max-width: 500px;
  border-radius: 1.5rem;
  box-shadow: 0px 24px 38px rgb(0 0 0 / 14%), 0px 9px 46px rgb(0 0 0 / 12%),
    0px 11px 15px rgb(0 0 0 / 20%), 0px 8px 10px rgb(0 0 0 / 14%);
  -webkit-box-shadow: 0px 24px 38px rgb(0 0 0 / 14%),
    0px 9px 46px rgb(0 0 0 / 12%), 0px 11px 15px rgb(0 0 0 / 20%),
    0px 8px 10px rgb(0 0 0 / 14%);
  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.error_popup_box {
  padding: 2rem 0 1rem;
}
.error_popup_box .signal-icon {
  width: 50px;
  margin-bottom: 1.25rem !important;
}
.error_popup_box h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  color: #4a4a4a;
  font-weight: 700;
  line-height: 1.25rem;
}
.error_popup_box.wrong_mail_error_box h4 {
  font-family: "Neuzeit Grotesk";
  margin-bottom: 0.313rem;
}
.error_popup_box .p1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #979797;
  margin-top: 0.375rem;
}
.error_popup_box.wrong_mail_error_box .p1 {
  font-family: "Neuzeit Grotesk";
  font-size: 1rem !important;
  line-height: 1.25rem !important;
  color: #2d3241;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  width: 90%;
}
.error_popup_box.wrong_mail_error_box .customer_mail {
  color: #2d3241;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.063rem;
  font-family: "SF Pro";
  margin-top: 0.75rem;
}
.error_popup_box .p1 a:hover,
.error_popup_box .p1 a:focus {
  text-decoration: underline;
}
.error_main .white-logo {
  width: 14%;
  max-width: 200px;
}
.error_popup .error_popup_box .try_btn {
  border: transparent;
  background: #004feb;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Neuzeit Grotesk";
  font-weight: bold;
  padding: 0.625rem 1.875rem;
  display: table;
  margin: 3rem auto;
}
.error_popup .error_popup_box .try_btn:hover,
.error_popup .error_popup_box .try_btn:focus {
  background: #0056ff;
}
.error_popup .error_popup_box .try_btn:active {
  background: #0045cc;
}
.error_popup .error_popup_box.wrong_mail_error_box .try_btn.confirm_email_btn {
  margin: 1.5rem auto 0;
  width: 50%;
  padding: 0.625rem;
}
.error_popup
  .error_popup_box.wrong_mail_error_box
  .try_btn.contact_support_btn {
  margin: 0.75rem auto 0;
  border: 1px solid #e0e0e0;
  color: #3640a4;
  background: #fff;
  width: 50%;
  padding: 0.625rem;
}
.error_popup
  .error_popup_box.wrong_mail_error_box
  .try_btn.contact_support_btn:hover,
.error_popup
  .error_popup_box.wrong_mail_error_box
  .try_btn.contact_support_btn:focus {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}
.error_popup
  .error_popup_box.wrong_mail_error_box
  .try_btn.contact_support_btn:active {
  background: #e6ebf0;
}
.error_popup_box .p2 {
  color: #979797;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
  font-family: "Roboto", sans-serif;
}
.error_popup_box .p3 a {
  color: #38409e;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.error_support_popup_box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  border: transparent;
  overflow: hidden;
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  opacity: 0;
  visibility: hidden;
}
.error_support_popup_box.active {
  opacity: 1;
  visibility: visible;
}
.error_support_popup_box .error_support_popup {
  background: #fff;
  border: transparent;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -100%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.error_support_popup_box .error_support_popup .popup_hd {
  color: #36343d;
  font-size: 1.125rem;
  line-height: normal;
  font-family: "SF Pro";
  font-weight: bold;
  margin-bottom: 3rem;
}
.error_support_popup_box .error_support_popup .support_dtls {
  background: #f5f5f5;
  border: transparent;
  border-radius: 5px;
  margin-top: 0.625rem;
  padding: 1.25rem 1rem;
}
.error_support_popup_box .error_support_popup .support_dtls .txt p {
  color: #38409e;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "SF Pro";
  font-weight: bold;
  margin-left: 1rem;
}
.error_support_popup_box .error_support_popup .support_dtls .txt p span a {
  color: #6e6e6f;
  font-family: "SF Pro";
  font-weight: 500;
  text-decoration: none;
}

@media screen and (min-width: 1231px) {
  .error_popup_box {
    padding: 2rem 0 1rem;
    /*margin: 9% auto;*/
  }
}
@media (max-width: 1230px) {
  .error_popup_box {
    padding: 2rem 0 1rem;
  }
}
@media (max-width: 1199px) {
  .error_popup_box {
    /*margin: 10% auto;*/
  }
}
@media (max-width: 991px) {
  .error_main .white-logo {
    width: 24%;
  }
  .error_popup_box {
    /*margin: 20% auto;*/
    max-width: 600px;
    padding: 2rem 0 1rem;
  }
}
@media screen and (min-width: 318px) and (max-width: 920px) and (orientation: landscape) {
  .error_popup_box {
    /*margin: 3% auto;*/
    padding: 1.9rem 0 1rem;
    margin-top: 10%;
  }
  .error_popup_box .signal-icon {
    max-width: 60px;
    margin-bottom: 2rem;
  }
  .error_popup_box h4 {
    font-size: 1.125rem;
  }
  .error_popup_box .p1 {
    font-size: 0.875rem;
    margin-top: 0.4rem;
  }
}
@media (max-width: 767px) {
  .error_main .white-logo {
    width: 19%;
  }
  .error_popup_box h4 {
    font-size: 1.125rem;
  }
  .error_popup_box .p1 {
    font-size: 0.875rem;
    margin-top: 0.4rem;
  }
  .error_support_popup_box {
    border-radius: 0;
    position: fixed;
  }
  .error_popup .error_popup_box.wrong_mail_error_box .try_btn.confirm_email_btn,
  .error_popup
    .error_popup_box.wrong_mail_error_box
    .try_btn.contact_support_btn {
    width: 80%;
    padding: 0.625rem;
  }
}
@media (max-width: 550px) {
  .error_main .white-logo {
    width: 25%;
  }
}
@media (max-width: 480px) {
  .error_main .white-logo {
    width: 30%;
  }
  .error_popup_box {
    width: 80%;
    padding: 2rem 0 1rem;
    /*margin-top: 40%;*/
  }
}
@media (max-width: 400px) {
  .error_main .white-logo {
    width: 35%;
  }
}
@media screen and (max-width: 360px) {
  .error_support_popup_box .error_support_popup .support_dtls .arrow_icon {
    width: 26px;
  }
  .error_support_popup_box .error_support_popup .support_dtls .txt p {
    margin-left: 0.5rem;
  }
  .error_support_popup_box .error_support_popup .support_dtls {
    padding: 1.25rem 0.625rem;
  }
}

/* --------------------------  purchase confirmation style  *-------------------------------*/

.purchase_content .purchase-head {
  font-family: "SF Pro", sans-serif;
  color: #f5f5f5;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1.3rem;
  background: #4653e6;
  border-radius: 0.313rem;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
  padding: 1.5rem 2.5rem;
}
.cosmo-mob-wrap .cosmo-mob {
  max-width: 440px;
}
.purchase_content .cosmo-mob-wrap {
  margin: 4rem 0 5rem 0;
}
.purchase_content h2 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 2.4rem;
  line-height: 2.375rem;
  color: #4a4a4a;
}
.purchase_content p {
  font-family: "SF Pro", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.25rem;
  color: rgba(74, 74, 74, 0.7);
}
.purchase_content a {
  font-family: "SF Pro", sans-serif;
  color: rgba(74, 74, 74, 0.7);
  line-height: 1.25rem;
  font-weight: 500;
}

.purchase_content h3 a {
  font-family: "SF Pro", sans-serif;
  color: #000;
  line-height: 1.25rem;
  font-weight: 500;
  font-size: 2rem;
}
.purchase_content a.purchase-btn-in {
  font-family: "SF Pro", sans-serif;
  color: #fff;
  font-weight: 600;
  line-height: 1.375rem;
  font-size: 1.3rem;
  background: #4653e6;
  border-radius: 0.313rem;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
  -webkit-box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
  padding: 1.5rem 2.5rem;
  width: 45%;
}
.purchase_content .purchase-btn {
  margin: 3.5rem 0 5rem 0;
}

@media (max-width: 991px) {
  .cosmo-mob-wrap .cosmo-mob {
    max-width: 500px;
    width: 56%;
  }
  .purchase_content h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .purchase_content p {
    line-height: 1.6rem;
  }
}

@media (max-width: 767px) {
  .purchase_content a.purchase-btn-in {
    width: 80%;
    max-width: 290px;
    font-size: 1rem;
  }
  .purchase_content .purchase-head {
    font-size: 1rem;
    padding: 1.5rem 1.5rem;
  }
  .purchase_content .purchase-head {
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
  }
  .cosmo-mob-wrap .cosmo-mob {
    max-width: 242px;
    width: 100%;
  }
  .purchase_content .cosmo-mob-wrap {
    margin: 2rem 0 3rem 0;
  }
  .purchase_content h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .popup-info.text-center {
    padding: 0 25px !important;
  }
  .purchase_content p {
    font-size: 0.93rem;
    line-height: 1.25rem;
  }
  .purchase_content h3 a {
    line-height: 1.25rem;
    font-size: 1.4rem;
  }
  .error_popup_box.wrong_mail_error_box .p1 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .purchase_content a.purchase-btn-in {
    width: 80%;
    max-width: 290px;
    font-size: 1rem;
    padding: 1rem 2.5rem;
  }
}

@media (max-width: 327px) {
  .purchase_content h2 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  .purchase_content p {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
  .purchase_content a.purchase-btn-in {
    width: 90%;
    max-width: 358px;
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }
  .purchase_content .purchase-btn {
    margin: 2.5rem 0 5rem 0;
  }
  .cosmo-mob-wrap .cosmo-mob {
    max-width: 215px;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .verification_content .header-sec {
    padding-bottom: 0.5rem;
  }
  .verification_content .verify-form {
    padding-top: 0.5rem !important;
  }
  .verification_content .verify-form h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .verification_content .verify-form p {
    margin-top: 0.75rem !important;
  }
  .verification_content .verify-form .form-control {
    height: 4rem;
  }
  .verification_content .resend.link-color2 {
    margin-bottom: 2rem;
  }
}

/** New QR Page Styles Here **/
.scan_page_box {
  /*background-image: url(../images/watchqr.png);*/
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: #000;
  width: 100%;
  max-width: 600px;
  /* padding-top: 7rem; */
  color: #fff;
  margin: 0 auto;
  position: relative;
  padding: 1rem;
}
@media screen and (min-width: 1200px) {
  .scan_page_box {
    max-width: 375px;
    background-size: cover;
  }
}
#demo-content {
  overflow: hidden;
}
.manual-btn:hover,
.manual-btn:focus {
  background: transparent;
}
#demo-content .scan_page_box .scan_imei_box {
  -ms-flex-item-align: start;
  align-self: flex-start;
  height: 84%;
}
#demo-content .scan_page_box .scan_imei_box > div {
  height: 100%;
}
#demo-content .scan_page_box .scan_imei_box video {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .container#demo-content {
    max-width: 100%;
  }
}
.acc-mapp {
  font-size: 0.875rem;
  color: #979797;
  text-align: center;
  line-height: 1.25rem;
  font-weight: 500;
}

/* new scaner details css */

.newscan-info .scaninfo-txtholder h2 {
    font-family: 'Neuzeit Grotesk',sans-serif!important;
    color: #000;
    border-bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 2.1rem !important;
}
.newscan-info {
    text-align: center;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    padding: 3rem 2rem;
}
.newscan-info button.btn.scannew-btn {
    font-family: 'Neuzeit Grotesk',sans-serif!important;
    background: #004FEB;
    box-shadow: 0px 4px 10px rgba(0, 79, 235, 0.3);
    border-radius: 5px;
    display: block;
    color: #fff;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    padding: 8px 10px;
    max-width: 215px;
    width: 70%;
    margin-top: 4rem;
}
.newscan-info .scanimg-wraper {
    margin-top: 3rem;
}

/*==============================New Edit 13-12-22============================*/

.newpgressbar{width: 100%;height: 9px;background: #AAAFB4;    overflow: visible;border-radius: 0.25rem;    display: flex;display: -ms-flexbox;}
.newprogress-bar{background: #5EEAC8;
    position: relative;
    overflow: visible!important;
    transition: width .6s;}

.enter_imei_custom_cont .image, .email-main .image{width: 100%;height: 98.5vh;overflow: hidden;}
.enter_imei_custom_cont .image img, .email-main .image img{width: 100%;height: 100%;object-fit: cover;}

@media screen and (min-width: 1024.5px){
  .newpgressbar{height: 1.5vh}
}

.enter_imei_custom_cont .image{
background: url(../images/activationnewbg@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 98.5vh;	
}

.email-main-user .image{
background: url(../images/nactvuserbg@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 98.5vh;		
}

@media screen and (max-width: 992px){
.email-main-user .image{display: none}
.email-main-user .newactivationcontent{height: 98.5vh}
.email-main-user .enter_user_box .row{    height: 100%;}
}